/bin/*
!/bin/.gitkeep
.build
.idea
cert
data
**/*.log
.DS_Store

**/*.syso
node_modules
*.db
*.json
!v2/config/testdata/official_subscription.json

# Allow root npm metadata for CI caching/install
!/package.json
!/package-lock.json
